.samplepost_section {
    background-image: linear-gradient(to bottom, rgba(50, 47, 47, 0.52), rgba(74, 71, 71, 0.73)),
        url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/post-bg.jpg");
    width: 100%;
    min-height: 710px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .blog_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .blog_h1 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: clamp(1.875rem, 0.9226rem + 4.7619vw, 3.75rem);
            font-weight: 900;
            color: white;
            width: 50%;
        }

        .blog_p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: clamp(1rem, 0.5556rem + 2.2222vw, 1.875rem);
            color: white;
            width: 50%;
        }

        .blog_p2 {
            margin-top: 20px;
            font-style: italic;
            font-family: "Lora", serif;
            font-size: clamp(0.9375rem, 0.7788rem + 0.7937vw, 1.25rem);
            color: white;
            width: 50%;
        }
    }
}
.samplepost_section2{
    width: 100%;
    min-height: 1000px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .samplepost_div2{
        width: 50%;
        font-size: 23px;
        color: rgb(50, 49, 49);
        p{
            margin: 30px;
            a{
                text-decoration: underline;
                color: rgb(50, 49, 49);
            }
        }
        h2{
            margin: 30px;
        }
        div{
            margin-left: 30px;
            img{
                width: 90%;
            }
        }
        .img_h4{
            font-size: 15px;
            text-align: center;
            font-style: italic;
            opacity: 0.7;
            font-weight: 100;
        }
    }
}
hr{
    margin-top: 70px;
}
@media screen and (max-width: 800px) {
    .samplepost_section{
        min-height: 500px;
        .blog_div{
        .blog_h1{
            width: 80%;
        }
        .blog_p{
            width: 80%;
        }
        .blog_p2{
            width: 80%;
        }
    }
}
.samplepost_section2{
    .samplepost_div2{
        width: 80%;
    }
}
hr{
    margin-top: 70px;
}
}
@media screen and (max-width: 330px){
.samplepost_section{
    min-height: 500px;
}
.samplepost_section2{
    margin: 0;
    .samplepost_div2{
        width: 100%;
        margin-top: 30px;
        .img_h4{
            width: 80%;
        }
    }
}
hr{
    margin: 10px;
}
}