.footer_div_1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    
   .footer_div_2{
       width: 70%;
       margin: auto;
       text-align: center;
       .icon_div{
           display: flex;
           justify-content: center;
           gap: 25px;
           font-size: 50px;
           margin-bottom: 10px;
           a:hover{
               color: #0085A1;
           }
           
           a{
               color: black;
               
           }
       }
   }
   .div_p{
       font-size: 20px;
       opacity: 0.5;
   }
}
.footer_hr{
   margin: 10px;
}